@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
* {
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 14px; }

html, body {
  height: 100%; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

#root {
  display: flex;
  height: 100%; }

